<h1><%= @work.datetimeperformed %></h1>
<p>User: <%= @work.user.fname %> <%=@work.user.lname%></p>
<p>Project: <%= @work.project.name %></p>
<p>Hours: <%= @work.hours %></p>


<%= link_to 'Edit Work Item', edit_work_path(@work), class: "btn btn-primary"%>
<%= link_to 'Back', works_path, class: "btn btn-primary"%>

