
  <%= form_for(@project, html: {class: 'form-horizontal'}) do |f| %>

    <div class="field form-group">
      <%= f.label :name, class: 'col-xs-1 control-label' %>
      <div class="col-xs-9">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>


    <div class="field form-group">
      <%= f.label :default_rate, class: 'col-xs-1 control-label' %>
      <div class="col-xs-2">
        <%= f.text_field :default_rate, class: 'form-control' %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :company_id, class: 'col-xs-1 control-label' %>
      <div class="col-xs-9">
        <%= f.collection_select :company_id, Company.all, :id, :name, {prompt: "Select a Company"}, {class: "form-control"} %>
      </div>
    </div>


    <div class="container">
      <div class = "row">
        <div class="col-xs-3 pull-left">
          <%= f.submit @project.new_record? ? "Create Project" : "Update Project",class: "btn btn-primary" %>
        </div>


        <div class="col-xs-4 pull-right">
          <%= link_to 'Back', projects_path, class: "btn btn-primary"%>
        </div>
      </row>
    </div>

  <% end %>