<h1><%=@project.name%></h1>

<br>
<div class="panel panel-default">
  <div class="panel-heading">Company Details</div>
  <div class="panel-body">
    <p><b>Company:</b> <%= @project.company.name %></p>
    <p><b>Default Rate:</b> <%= @project.default_rate %></p>
  </div>
</div>



 <% content_for(:body_attributes) do %>
    data-no-turbolink="true"
 <% end %>

<br>

<div class="panel panel-default">
  <div class="panel-heading">Add Work for current Project</div>
  <div class="panel-body">
     <div class = "remote form">
       <%= render partial: 'works/form', locals: {doajax: true} %>
     </div>
  </div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Works for <%=@project.name%>:</div>

  <!-- Table -->
  <table class="table">
  	<tbody>
  		<tr id = "headerrow">
  			<th>View</th>
  			<th>User</th>
  			<th>Project</th>
  			<th>Date/Time</th>
  			<th>Hours</th>
  		</tr>
          <%= render partial: "works/work", collection: @project.works %>
  	</tbody>
  </table>
</div>

<p><%= link_to 'Edit Project', edit_project_path(@project)%></p>
<p><%= link_to 'Back', projects_path%></p>