  <% if @company.errors.any? %>
   <div id = "errors">
   	 <p>Please correct the following <%= pluralize(@company.errors.count, "error")%></p>
   	 <ul>
   	 	<% @company.errors.full_messages.each do |message|%>
   	 	<li><%= message %></li>
   	 	<% end %>
   	 </ul>
   </div>
  <% end %>

  <%= form_for(@company, html: {class: 'form-horizontal'}) do |f| %>

    <div class="field form-group">
      <%= f.label :name, class: 'col-xs-1 control-label' %>
      <div class="col-xs-9">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>


    <div class="container">
      <div class = "row">
        <div class="col-xs-3 pull-left">
          <%= f.submit @company.new_record? ? "Create Company" : "Update Company",class: "btn btn-primary" %>
        </div>


        <div class="col-xs-4 pull-right">
          <%= link_to 'Back', companies_path, class: "btn btn-primary"%>
        </div>
      </row>
    </div>

  <% end %>